* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: atialiased;
}

:root{
    --almost-white: #FFFDFA;
    --dark-space-blue: #00001a;
    --gunmetal: #5e607a;
    --vermillion: #f16051;
    --yellow: #e9aa52;
    --silver: #C5C6CE;
}

body {
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}
.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.header-mobile button {
    background: none;
    border: none;
}
.primeira-secao {
    margin-bottom: 4rem;
}
.primeira-secao img {
    width: 100%;
    margin-bottom: 1.5rem;
}
.primeira-secao h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-space-blue);
    margin-bottom: 1rem;
}
.primeira-secao p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}
.primeira-secao button {
    background-color: var(--vermillion);
    padding: 0.75rem 2rem;
    border: 0;
    color: var(--almost-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
}
